.heading-container{
  height: 100%;
  margin-bottom: 1rem;
  padding-left: 0%!important;
  padding-right: 0% !important;
  background-color: rgba(9, 23, 41, 0.8);
  z-index: -1;
}
.horizontal-line{
  border-top: 3px solid grey
}
.row{
  margin-left: 0%!important;
  margin-right: 0%!important;
}
.row>*{
  padding-left: 0%!important;
}
.home-header-bg{
  background-image: url("images/cloud.png");
  height: 20rem;
  background-position: center;
  background-size: cover;
  width: 100%;
  z-index: -2;
}
.row-header{
  width: 100%;
}
.home-image{
  height: 3.5rem;
  margin-left: 30%;
}
.home-button{
  font-size: 0.8rem!important;
  padding: 0%;
  margin: 0%;
  font-weight: 500!important;
}
.home-text01{
  color: rgb(255, 255, 255);
  font-weight: 700;
  width: 100;
  font-size: 2.6rem;
  display: flex;
  margin: 3.8%;
  justify-content: center;
}
.heading-content{
  font-size: 1.1rem;
  margin: auto;
  color: rgb(207, 211, 215);
}
.demo-con{
  display: flex;  
  width: 55%!important;
  margin: auto;
}
.star{
  margin-top: 2px;
  width: 40px;
  padding-right: 2px!important;
}
.latest-version{
  margin-top: 0rem!important;
}
.version-content{
  text-align: start;
  color: #0a6af7;
  font-size: 1.8rem;
  font-weight: 700;
}
.date-content{
  text-align: start;
  color: rgb(177, 177, 177);
}
.content-heading{
  color: rgb(5, 14, 64);
  font-weight: 700;
  font-size: 1.2rem;
}
.sub-content{
  width: 87%!important;
  font-size: 0.9rem;
}
.home-link{
  font-size: 0.8rem!important;
  color: rgb(5, 14, 64)!important;
  border-color: rgb(221, 221, 221)!important;
  font-weight: 700!important;
  margin-bottom: 5px;
  width: 60px;
  padding: 4px!important;
}
.content-button{
  text-align: end;
}
.image-content{
  margin-top: 0.5rem!important;
  margin-bottom: 1rem;
}
.page-numbers{
  margin-top: 15px;
}
.footer-content{
  background-color: rgba(17,39,65,255);
  color: rgb(255, 255, 255);
  height: 60px!important;
  margin-top: 40px;
}

@media(max-width: 1200px){
  .heading-content{
    width: 53%!important;
  }
}
@media(max-width: 991px){
  .star{
    width: 35px;
  }
  .version-content{
    font-size: 1.6rem;
  }
  .date-content{
    font-size: 0.9rem;
  }
  .demo-con{ 
    width: 70%!important;
  }
}
@media(max-width: 576px){
  .heading-content{
    width: 70%!important;
  }
  .demo-con{ 
    width: 100%!important;
  }
  .home-link{
    font-size: 0.7rem!important;
    width: 40px;
    justify-content: center!important;
  }
  .home-image{
    margin: auto;
    display: flex!important;
    align-items: center!important;
  }
  .content-button{
    text-align: center;
    padding-right: 1.2rem!important;
  }
}
@media(max-width: 474px){
  .home-text01{
    font-size: 2.2rem;
  }
  .heading-content{
    width: 75%!important;
  }
}
@media(max-width: 371px){
  .home-text01{
    font-size: 1.8rem;
  }
  .heading-content{
    font-size: 0.9rem;
  }
  .version-content{
    font-size: 1.4rem;
  }
  .date-content{
    font-size: 0.8rem;
  }
  .content-heading{
    font-size: 1rem;
  }
  .sub-content{
    font-size: 0.8rem;
  }
  .footer-content{
    font-size: 0.6rem!important;
  }
}
